<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLm__IQT3wgac4YQ3QWjlDX00GzmPdbWY</string>
	<key>GCM_SENDER_ID</key>
	<string>864099689438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.kahade</string>
	<key>PROJECT_ID</key>
	<string>kahade-fcm</string>
	<key>STORAGE_BUCKET</key>
	<string>kahade-fcm.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864099689438:ios:8e6efaf48ea2c7c9a7334f</string>
</dict>
</plist>